
body {
    font-family: 'Noto Sans JP', sans-serif;
}

#about {
    padding-top: 60px;
}

#about h1 {
    font-family: 'Righteous', cursive;
}

.card {
    transition-duration: .3s;
}

.card:hover{
    transform: scale(1.05);
}
