
body {
    font-family: 'Noto Sans JP', sans-serif;
}

#about {
    padding-top: 60px;
}

#about h1 {
    font-family: 'Righteous', cursive;
}

#about .lead {
    font-family: 'Roboto', sans-serif;
}

.card h5 {
    font-family: 'Kiwi Maru', serif;
}

.card {
    transition-duration: .3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-thumbnail {
    transition-duration: .3s;
}

.card:hover .card-thumbnail {
    filter: brightness(105%) sepia(5%);
}

.text-with-icon {
    margin-left: 5px;
}